/*--------------------------------*\

    Responsive Table
    structure:
 
    table
    -thead
    --tr
    ---th
    -tbody
    --tr
    ---td

    Available modifier:
    * table--responsive
    * table--zebra
    * table--compact

\*--------------------------------*/

// Base style
// ------------------------------------------------------------------------ //

$table_cell_padding         : .4em;
$table_cell_padding_compact : .2em .4em;

$table_background           : lighten($black20, 7%);
$table_border               : #c6c6c6;
$table_zebra                : lighten($black20, 3%);
$table_thead_background     : $black20;

$table_border_prop          : "solid 1px " + $table-border;

.n-table-fluid {
    width: 100%;
    // border-left: solid 1px #bbb;
    // border-right: solid 1px #bbb;
    margin-bottom: $space;
    overflow-x: auto;

    @media #{ $medium } {
        overflow-x: visible;
    }
}

.n-table {
    white-space: nowrap;

    tr {
        background: #fff;
    }

    th {
        text-align: left;
        background: #eee;
    }

    th,
    td {
        padding: ($space / 2);
        border: solid 1px #bbb;
    }

    @media #{ $medium } {
        white-space: normal;
    }
}

.n-table--zebra {

    tr:nth-child(odd) {
        background: #f9f9f9;
    }
}

.n-table--compact {
    th,
    td {
        padding: ($space / 4);
    }
}
